* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
}


body {
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  border: 8px solid black;
}

/*#scenario {
  width: 35%;
  height: 500px;
  background: green;
  border: thin solid black;
  position: relative;
}

#player {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 10%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;



}

#ball {
  position: absolute;
  bottom: 100;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  random: 2

}


.bullet {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: fire 0.1s steps(100) ;
}

@keyframes fire {
  0% { margin-left: 25px; }
  100% {
    margin-left: 150px;
  }
}
