* { box-sizing: border-box; }


.a {
  width: 400px; /* El sprite está formado por 24 frames de 210px x24 = 5040px */
  height: 300px;
  background: url("imagenes/pika2.png");
  animation: run 1s steps(10) infinite, move 3s steps(1000) infinite;
}


.n {
  width: 450px;
  height: 450px;
  background: url("imagenes/mortal.png");
  animation: run2 1s steps(135) infinite, move2 3s steps(1000) infinite;
}


.d {
  width: 356px;
  height: 200px;
  background: url("imagenes/akira.png");
  animation: run3 3s steps(81) infinite, move3 3s steps(1000) infinite;

}


@keyframes run {
  100% {
    background-position: -4000px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}



@keyframes run2 {
  100% {
    background-position: -60750px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}


@keyframes run3 {
  100% {
    background-position: -28836px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}



@keyframes move {
  100% {
    margin-left: 100%;
    opacity: 100%;
  }
}


@keyframes move2 {
  100% {
    margin-left: 100%;
    opacity: 100%;
  }
}


@keyframes move3 {
  100% {
    margin-left: 100%;
    opacity: 100%;
  }
}
