* { box-sizing: border-box; }

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#titulo {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: red;
  text-align: center;
  right: -0px;
 }

#acaseclicka {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: green;
}

#imagen1 {
  position: relative;
  top: -468px;
  left: 605px;
  width: 46.5em;
  height: 30em;
  border: 1em solid blue;
  cursor: pointer;
}

#plataforma {
  width: 621px;
  height: 30em;
  border: 1em solid yellow;
  cursor: pointer;
}

#mark {
  position: relative;
  grid-column: 3 / 4;
  grid-row: 2;
  background-color: green;
  height: 118px;
  width: 1595px;
  left: -1595px;
  top: -118px;
}

#number {
  position: absolute;
  top: 33px;
  left: 120px;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 3em;
  text-align: center;
}

#fondo {
height: 680px;
width: 1365px;


}
